DB_HOST=localhost
DB_PORT=3306
DB_NAME=gaming-life
DB_USER=gaming
DB_PASSWORD=gamingpass
DB_ROOT_PASSWORD=rootpass

JWT_SECRET=XXXXXXXXXXXXXX
JWT_EXPIRES_IN=7d
PORT=3000
NODE_ENV=development

# Web
VITE_API_BASE=http://localhost:3000